<div class="container">
  <form [formGroup]="form" autocomplete="off">
    <div class="group">
      <label>Es requerido el nombre?</label>
      <select formControlName="isRequired">
        <option value="0">No</option>
        <option value="1">Si</option>
      </select>
    </div>
    <div class="group">
      <label>Nombre ({{ form.controls.isRequired.value == '1' ? 'requerido' : 'no requerido' }})</label>
      <input formControlName="name" type="text">
    </div>
  </form>

  <ul>
    <li>Formulario válido: {{ form.valid }}</li>
  </ul>
</div>